.inputsomebody{
	position:absolute;
    background: whitesmoke !important; 
	height: 100%;
}
.welcomebody{
	background: url(img_bg_inmeeting_portrait.png) no-repeat;
	background-size: cover;
	text-align:center;
	-webkit-transition: left .4s ease-out;
}


.whitebody{
	
    background: #ffffff; 
	height: 100%;
	width: 100%;
	margin: 0;
}
li{
	list-style: none !important;
}
p{
	color: #ffffff;
	margin: 5px 0;
 	font-weight:normal;
 	font-family:"Arial Narrow";
}

.blodblackshadow{
	color: #123456;
    font-weight:bold;
    text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}

.blackshadow{
	color: #123456;
    text-shadow: rgba(255, 255, 255, 1) 0px 1px 0;
}
.webexLabel
{
	position:relative;
	background: url(img_splash_ciscowebex.png) no-repeat;
    background-position:center;
	width:100%;
	height:60px;
	margin-top: 30px;
}

.ciscoLabel{
	background: url(img_splash_branding2_m.png) no-repeat;
    background-position:center;
	width:100%;
	height:30px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.ciscoInfo{
	position:absolute;
	border:0;
	background: url(img_icon_info.png) no-repeat;
    width:30px;
	height:30px;
	right:10px;
}


.shadowBall{
	background: url(img_splash_webexball_m.png) no-repeat;
    background-position:center;
	-webkit-box-reflect: below -20px -webkit-gradient(linear, 0 0,0 100%, 
	from(rgba(255,255,255,0)), color-stop(.6,transparent),to(rgba(0,0,0,0.5)));
	margin: 30px 0 50px 0;
    width:100%;
	height:120px;
}

button:hover.ciscoInfo{
	background: url(img_icon_infomation.png) no-repeat;
}
.linkStyle{
	color: #76bcdd;
}

a:link.linkStyle {}
a:visited.linkStyle {}
a:hover.linkStyle 
{
    
	color: #44eaf9;
}

a:active.linkStyle {}
